.background {
  display: flex; /* establish flex container */
  flex-direction: column; /* make main axis vertical */
  justify-content: center; /* center items vertically, in this case */
  align-items: center; /* center items horizontally, in this case */
  width: 100vw;
  height: 100vh !important;
  background-image: url("/assets/background/thankyou_background.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.form {
  padding: 20px 40px;
  width: 400px;
  background-color: whitesmoke;
}
