.background {
  display: flex; /* establish flex container */
  flex-direction: column; /* make main axis vertical */
  justify-content: center; /* center items vertically, in this case */
  align-items: center; /* center items horizontally, in this case */
  width: 100vw;
  height: 100vh !important;
  background-image: url("/assets/background/thankyou_background.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.form {
  padding: 10px 30px;
  width: 400px;
  background-color: whitesmoke;
  border-radius: 7px;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.other-options label {
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
  color: gray;
}

.other-options label:hover {
  color: darkslategray;
}

.logo {
  height: 200px;
  width: 200px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  margin-bottom: 40px;
}
